@font-face {
    font-family: 'Averta';
    src: url(../font/Averta/Averta.otf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Averta Black';
    src: url('../font/Averta/Averta\ Black.otf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Averta Bold';
    src: url('../font/Averta/Averta\ Bold.otf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Averta Light';
    src: url('../font/Averta/Averta\ Light.otf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Averta Thin';
    src: url('../font/Averta/Averta\ Thin.otf');
    font-style: normal;
    font-weight: normal;
}