$primary-color: #A32F36;//#FF6600;
$secondary-color: #0083DF;
$wine: #A32F36;
$black: #332D2D;
$grey: #D6D6D6;
$overlay: #ffffffa8;

$shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
$shadow-sm: 0 .125rem .25rem rgba(0,0,0,.075)!important